@model MVCLibrary.ViewModels.HomeViewModel


<div class="text-center">
    @foreach (var message in Model.Messages)
    {
        <div class="text-center">
            @message.Content
        </div>
    }


</div>